@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

html{
    font-size: 62.5%;
}

.main-div{
    background-color: #cae6e9;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}

.inner-div{
    width: 52vw;
    background-color: rgb(207, 214, 248);
    padding: 3rem 8rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem -0.8rem rgba(54, 53, 53, 0.4);
}

.inner-div h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1rem 0 4rem ;
}

.inner-div li{
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;
}

input{
    cursor: grabbing;
}

#submit, .btn{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: darkblue;
    background-color: #96c7f8;
    border-radius: 6px;
    margin-top: 4rem;
    cursor:pointer;
}

#submit:hover{
    background-color: #ceedff ;
}

#showScore{
    background-color: #b4d3e0;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.8rem rgba(54, 53, 53, 0.4);
    border-radius: 6px;
}

#showScore h3{
    font-size: 3rem;
    text-align: center;
}

#showScore .btn{
    background-color: #55efc4;
    margin-top: 2rem;
    color:#2d3436;
}

#showScore .btn :hover{
    background-color: #00b894;
    color:#fff;
}

.scoreArea{
    display: none;
}

